
/* Resets */
*,
*:after,
*:before {
	box-sizing: border-box;
}

.project{
	overflow-y: scroll;
	font-size: 100%;
	margin: 0;
	padding: 0;
	height: 100%;
}

/* Helper classes */
.cf:before,
.cf:after {
	content: ' ';
	display: table;
}

.cf:after {
	clear: both;
}

.hidden {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

/* Main styles */
.project{
	background-image:url('Project-bg.png');
	background-size: 100% 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: #d9e8ff;
	outline: none;
}

a:focus {
	color: #ddd;
}

a:hover {
	color: #fff;
}
